<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takeout.takeoutuserservice.mapper.AddressInfoMapper">

    <resultMap id="BaseResultMap" type="com.takeout.takeoutmodel.entity.AddressInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="detailAddress" column="detailAddress" jdbcType="VARCHAR"/>
            <result property="consigneeName" column="consigneeName" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="tag" column="tag" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,detailAddress,
        consigneeName,phone,tag,
        createTime,updateTime,isDelete
    </sql>
</mapper>
