<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takeout.takeoutorderservice.mapper.OrderInfoMapper">

    <resultMap id="BaseResultMap" type="com.takeout.takeoutmodel.entity.OrderInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="shopId" column="shopId" jdbcType="BIGINT"/>
            <result property="menuId" column="menuId" jdbcType="VARCHAR"/>
            <result property="addressInfoId" column="addressInfoId" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,shopId,
        menuId,addressInfoId,status,
        createTime,updateTime,isDelete
    </sql>
    <select id="listShopOrders" resultType="com.takeout.takeoutmodel.entity.OrderInfo">
        select * from order_info where shopId = #{shopId};
    </select>
</mapper>
